/* ALIGNMENT */

.flex-column {
  flex-direction: column;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-start {
  align-items: start;
}
.justify-space-around{
  justify-content: space-around;
}
.align-space-between {
  align-items: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: start;
}

.justify-space-between {
  justify-content: space-between;
}
.flex-reverse-column{
  flex-direction: column-reverse;
}
