.top-nav{
  background-color: var(--secondary);
  color: var(--white);
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  &-contact{
    align-items: center;
    display: flex;
    img,i,a{
      margin-right: .5rem;
      //width: 15px;
    }

    a{
      text-decoration: none;
      color: var(--white);
    }

  }

  &-social{
    i{
      margin-right: .5rem ;
      color: var(--white);
    }
  }
}
