/* ABSTRACT */
@import "./abstract/colors";
@import "./abstract/utils";
@import "./abstract/breakpoints";

/* LAYOUT */
@import "./layout/flex";
@import "./layout/grid";



/*utility classes*/
.pointer {
  cursor: pointer;
}
.text-white {
  color: color(white);
}
.w-100 {
  width: 100%;
}
.p-0 {
  padding: 0;
}
.pl-0{
  padding-left: 0;
}
.top-padding-20 {
  padding-top: 20px !important;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.text-capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: 700;
}
.bold-header {
  font-size: rem-calc(20);
  font-weight: 700;
}
.fs-0-8-rem {
  font-size: 0.8rem !important;
}

.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.mr-1 {
  margin-right: 1rem;
}
.overflow-auto {
  overflow: auto;
}
.mt-1 {
  margin-top: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.mt-0-3 {
  margin-top: 0.3rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-0-5 {
  margin-bottom: 0.5rem;
}
.mb-0-3 {
  margin-bottom: 0.3rem;
}
.mh-unset {
  max-height: unset;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mb-2 {
  margin-bottom: 2rem;
}
.fs-1 {
  font-size: 0.7rem;
}
.text-right {
  text-align: right;
}

.top-padding-20 {
  padding-top: 20px !important;
}

.relative_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.blue {
  color: color(blue);
}
.height-400 {
  height: 400px;
}
.min-width-100 {
  min-width: 100px;
}
.min-width-120 {
  min-width: 100px;
}
.w-50{
  width: 50%;
}

.w-30{
  width: 30%;
}

.mt-2 {
  margin-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-5{
  margin-bottom: 5rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes MoveUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes MoveOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(400px);
  }
}

hr {
  background-color: color(lightAsh);
  margin: 1rem 0;
}

.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mt-2 {
  margin-top: 2rem;
}
.my-2{
  margin: 2rem 0;
}
.my-4{
  margin:4rem 0;
}

.br-50 {
  border-radius: 2rem;
}
.text-uppercase {
  text-transform: uppercase;
}
.ml-1{
  margin-left: 1rem;
}
.p-2 {
  padding: 2rem;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0-7{
  margin-right: 0.7rem;
}
.mx-auto{
  margin-left: auto ;
  margin-right: auto ;
}

.my-1{
  margin: 1rem 0;
}
.mt-4{
  margin-top: 4rem;
}
.mh-vh {
  height: 600px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
select:focus,
input[type="text"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="password"]:focus {
  outline: none;
  // background-color: #fff;
  border: 1px solid #36b37e;
  border-radius: 5px;
}

.center_item_vertically {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gray{
  color: color(lightGray);
}

.green{
  color: color(green);
}

.blue{
  color: color(blue);
}

.label__red {
  color: color(red) !important;
  background-color: rgba(255, 81, 81, 0.51) ;
}
.label__soft__red {
  color: color(red) !important;
  background-color: rgba(255, 81, 81, 0.30);
}
.label__green {
  color: color(green) !important;
  background-color: rgba(54, 179, 126, 0.4) ;
}
.label__blue {
  color: color(blue) !important;
  background-color: rgba(41, 72, 155, 0.47) ;
}
.label__yellow {
  color: color(yellow) !important;
  background-color: rgba(252, 171, 49, 0.59) ;
}
.margin-auto{
  margin: 0 auto;
}
.ml-auto{
  margin-left: auto;
}
.border-btm-1{
  border-bottom: 1px solid color(lightAsh);
}
.d-block{
  display: block !important;
}


//list utilities
.unstyled-list{
  list-style-type: none;
}
