@import '../../styles/App';
.header{
  width: 100%;
  background-position: center center;
  background-size: cover;
  //background: rgba(0,0,0,0.05);
  //position: relative;
  height: auto;
  padding-bottom: 3rem;
  @include breakpoint(desktop-up){
    height: 80vh;
    padding-bottom: 0;

  }


  &-center{
    width: 100%;
    //position: relative;
    //top: 10%;
    text-align: center;
    padding-top:3rem ;

    @include breakpoint(desktop-up){
      //height: 80vh;
      //position: absolute;
      padding-top:7rem ;
      width: 40%;
      margin: 0 auto;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%,-50%);
    }
  }
  &-title{
    color: var(--white);
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: var(--margin-bottom);

    @include breakpoint(desktop-up){
      font-size: 2.3rem;
    }
  }
  &-description{
    color: var(--white);
    line-height: 1.5;
    margin-bottom: var(--margin-bottom-4);
  }
  &-button{
    padding: var(--button-padding);
    border-radius: .2rem ;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border:2px solid var(--secondary);
  }
}
