.footer{
  width: 100%;
  height: 150px;
  display: flex;
  padding:3rem 6rem;
  align-items: center;
  background: url("../../assets/png/footer-bg.png") repeat top 100% left 100% ;
  background-size: 700px ;
}
